body {
  padding: 2rem;
}
.App {
  text-align: center;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header .add_btn {
  background-color: aqua;
  font-size: 20px;
  border-radius: 5px;
}

.AddForm {
  margin-top: 30px;
  text-align: center;
  width: 30%;
  border: 1px solid black;
  background-color: aliceblue;
}

.AddForm div {
  margin-bottom: 10px;
}
.AddForm input {
  width: 80%;
}

table,
thead,
th,
td {
  min-width: 100%;
  width: auto;
  border: 1px solid black;
  border-collapse: collapse;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
